# Project exclude paths
/.gradle/
/user-service/build/
/user-service/build/classes/java/main/
/offer-service/build/
/offer-service/build/classes/java/main/
/order-service/build/
/order-service/build/classes/java/main/
/accounting-service/build/
/accounting/build/classes/java/main/
/data/csv